@page "/edit-product/{productId:int}"
@using System.ComponentModel.DataAnnotations
@using Chapter9CQRS_API.Models
@using Chapter9CqrsUI.HttpServices
@inject IProductService ProductService
@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@rendermode InteractiveServer

<script>
    function showAlert(message) {
        alert(message);
    }
</script>

<EditForm FormName="edit" Model="@product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Product Name:</label>
        <p id="name">@product.Name</p>
    </div>

    <div class="form-group">
        <label for="price">Product Price:</label>
        <InputNumber id="price" @bind-Value="product.Price" />
    </div>

    <button type="submit">Save</button>
</EditForm>

<div class="product-border">
    <h3>Product Details</h3>
    <p><strong>ID:</strong> @product.Id</p>
    <p><strong>Name:</strong> @product.Name</p>
    <p><strong>Price:</strong> @product.Price</p>
</div>

@code {
    private Product product = new Product();

    [Parameter] public int productId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        product = await ProductService.Get(productId);
    }

    private async Task HandleValidSubmit()
    {
        _ = await ProductService.Update(product);
        await jsRuntime.InvokeVoidAsync("showAlert","Product saved successfully!");
        NavManager.NavigateTo("/");
    }
}
